//@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
//-webkit-text-stroke: 1px white;
.wrapper {
  position: relative;
  .flip_card {
    background-color: transparent;
    width: 330px;
    height: 495px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */

    .flip_card_inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: all 1s;
      will-change: transform;

      .card,
      .backCard {
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
      }

      .card {
        font-family: "Open Sans", serif;
        background: linear-gradient(
          180deg,
          rgba(223, 230, 236, 1) 0%,
          rgba(211, 217, 202, 1) 100%
        );
        border-radius: 12px;
        border: 4px solid black;
        padding: 3px 4px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        transition: all 0.5s;

        .heroInfo {
          text-align: center;
          height: 100%;
          font-size: 24px;
          line-height: 24px;
          flex: 1;
          min-height: 70px;
          display: flex;
          position: relative;

          .imgHero {
            height: 66px;
            width: 40px;
          }

          .attack {
            width: 48px;
            height: 47px;
            -webkit-text-stroke: 1px white;
          }

          .sheet {
            width: 41px;
            height: 44px;
            -webkit-text-stroke: 1px white;
          }

          .heroLabel {
            position: absolute;
            top: -10px;
            left: 46px;
            width: 42px;
            height: 43px;
          }
        }

        .ability {
          min-height: 62px;
          border-radius: 12px;
          border: 5px solid black;
          padding: 2px;
          display: flex;
          gap: 4px;
          justify-content: space-between;
          align-items: center;

          &.Vanguard {
            background: #eececb;
            border-color: #a22b17;
          }

          &.Flank {
            background: #acd37b;
            border-color: #354c1a;
          }

          &.Rear {
            background: #99c9e1;
            border-color: #417599;
          }

          &.Order {
            background: #d5bbcf;
            border-color: #591648;
          }

          .images {
            flex: 1;
          }

          .discription {
            font-size: 10px;
            text-align: center;
            flex: 1;
          }
        }
      }

      .backCard {
        transition: all 0.5s;
        background-image: url("../../assets/card/Shirt1.png");
        height: 495px;
        width: 330px;
        top: 0;
        transform: rotateY(180deg);
        background-position: center;
        background-size: cover;
      }
    }

    &.flip_card {
      &.switch {
        .flip_card_inner {
          animation: 0.4s ease-in forwards switchCard;
        }
      }

      &.switchReturn {
        .flip_card_inner {
          animation: 0.4s ease-in forwards switchBackCard;
        }
      }
    }
  }

  .show {
    width: 100%;
    padding-bottom: 5px;
    opacity: 0;
    position: absolute;
    top: -30px;
    transition: all 0.3s;

    .settingsCard {
      display: flex;
      align-items: center;
      gap: 4px;
      justify-content: space-between;

      div {
        cursor: pointer;
      }
    }
  }

  &:hover {
    .show {
      opacity: 1;
    }
  }
}

@keyframes switchCard {
  0% {
    transform-style: preserve-3d;
  }

  100% {
    transform-style: preserve-3d;
  }
}

@keyframes switchBackCard {
  0% {
    transform-style: preserve-3d;
  }

  100% {
  }
}
